body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #222;
}

header{
    background: #04561b;
    color: white;
    text-align: center;
    padding: 30px;
}

section{
    max-width: 850px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.2); /* FIXED */
}

.profile{
    text-align: center;
}

.profile img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid #000;
    margin-bottom: 10px;
    border-radius: 8px;
}

h2{
    color: #000;
    border-bottom: 2px solid #433f3f;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p{
    line-height: 1.6;
}

footer{
    text-align: center;
    padding: 15px;
    background: #04561b;
    color: white;
    margin-top: 30px;
}
